asyncpg~=0.27.0
bcrypt~=4.2.0
fastapi~=0.114.0
passlib~=1.7.4
pydantic~=2.9.1
python-jose~=3.3.0
prometheus_client~=0.16.0
sqlalchemy~=2.0.34
slowapi~=0.1.4
uvicorn~=0.22.0

# Testing dependencies
aiosqlite~=0.20.0
httpx~=0.24.0
pytest~=7.4.0
pytest-asyncio~=0.21.0
python-dotenv~=1.0.0
